*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-pink : #c2c2d6;
  --dark-grey: rgb(77, 77, 77);
  --light-red: rgb(172, 57, 57);
  --light-blue: rgb(0, 68, 102);
  --light-grey : rgb(102, 102, 102);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: inherit;
  font-size: 1.6rem;
  font-family: sans-serif;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-pink);
}